*{

    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
    }
    
    
    body{
        height: 100vh;
        width: 100%;
        overflow: hidden;
    
        background: rgb(255,255,255);
background: linear-gradient(225deg, rgba(255,255,255,0) 0%, rgba(184,85,85,1) 0%, rgba(0,0,0,1) 0%, rgba(159,19,19,1) 100%, rgba(47,22,22,1) 100%, rgba(33,102,199,1) 100%);
    }
    
    
    
    .SignInForm{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 50vh;
        
        text-align: center;
        background: white;
        border-radius: 10px;
    
    }
    
    
    
    
    .SignInForm p{
        text-align: end;
    
        position: relative;
        font-family: sans-serif;
        font-size: 15px;
        
    }
    
    .SignInForm form input{
        border: 3px solid black;
    border-radius: 7px;
    font-family: sans-serif;
    text-align: center;
    height: 50px;
    }
    
    @media screen and (max-width: 768px) {
        .SignInForm {
          width: 90%;
        }
      }
    
    
    